/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*
  Start to Archivsoft Web Publish
*/

/*
*, *::before, *::after {
  box-sizing: border-box;
}
*/

body { background : #ffffff; }
/*body { background : #f8f9fa; }*/
body {
  margin: 0;
  font-family: nunito,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

header, hgroup, nav, main, section, footer, div{ display: block; }

.bg-light {  background-color: #ffffff !important ; }
.bg-dark { background-color: #212529 !important;}

small, .small{
  font-size: 85%;
  font-weight: 400;
}

.footer-main{ color : rgba(255, 255, 255, 0.4); }

.pt-5, .py-5{ padding-top: 3rem !important;  padding-bottom: 3rem !important;}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}
.navbar >.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.container{
  width: 100%;
  padding-right: .75rem;
  padding-left: .75rem;
  margin-right: auto;
  margin-left: auto;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  /*flex-direction: column;*/
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-collapse{
  /*flex-basis: 100%;*/
  flex-grow: 1;
  align-items: center;
  display: flex!important;
  flex-basis: auto;
  padding-bottom: 0.7rem;
}

.dis-flex{
  display: flex !important;
}

.container.search input{
  border-radius: .2rem;
  padding: .1rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border: solid 1px black;
}

.select_view{
  width : 13.5rem;
}

.container .navbar-collapse .navbar-nav .nav-item a{
  color: black;
}

.nav-item .nav-link{
  padding: 1rem .5rem;
  margin-bottom: 0;
}

.mr-auto{margin-right: auto !important;}

.both-pd{ padding: 3rem 0; }
.text-center{ text-align: center !important; }

.container.list-box {padding: 3rem 0 1.5rem 0;}
.container.text-center { padding:1.5rem 0 3rem 0;}

.container_login{
  display: inline-block;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 500px;
  position: absolute;
  height: 500px;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -250px;
  border: #000 solid 1px;
}

.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}
.ml25{margin-left: 25px;}
.mr5{margin-right: 5px;}
.mr10{margin-right: 10px;}
.mr15{margin-right: 15px;}
.mr20{margin-right: 20px;}
.mr25{margin-right: 25px;}

.make_space{ margin: 1.5rem 0;}

.btn_box{
  width: 80%;
  height: 100%;
  padding: 1.2rem 0.5rem;
  cursor: pointer;
}

.button{
  width: 84%;
  background-color: #F88931;
  border: none;
  color:#fff;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px;
  cursor: pointer;
  border-radius: 15px;
  font-weight: bold;
  font-size: 1.3rem;
}

.reg_button{
  width: 8rem;
  border: none;
  color: #fff;
  padding: .5rem 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px;
  cursor: pointer;
  border-radius: 36px;
  font-weight: bold;
  font-size: 1rem;
}
.color_blue{ background-color: #3165f8; }
.color_red{ background-color: #ff0000; }

.ta-right{ text-align: right;}
.ta-left{ text-align: left; }

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: #F88931;
  font-size: 1.5rem;
  margin: 0.3rem 0px;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}

/*
Layer POP-UP
*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*
 ul, li
*/
ul{
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li{
  display: list-item;
  text-align: -webkit-match-parent;
}

a{
  color: #4D90DD;
  text-decoration: none;
  background-color: transparent;
}

table{
  width: 100%;
  border-collapse: collapse;
}

/*table thead tr{*/
/*  border: 1px solid #009ADD;*/
/*  text-align: center;*/
/*  vert-align: middle;*/
/*  color: black;*/
/*}*/

table thead{
  font-weight: bold;
  font-size: 1.1rem;
}

table tr{
  border: 1px solid #4D90DD;
  text-align: center;
  vert-align: middle;
  color: #0F0029;
}

@media (min-width: 992px) {
  .sb-navbar .nabbar-nav{
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 1200px){
  .container { max-width: 1140px;  }
}
/*
@media (min-width: 992px){
  .container { max-width: 960px;  }
}
@media (min-width: 768px){
  .container { max-width: 720px;  }
}
@media (min-width: 576px){
  .container { max-width: 540px;  }
}
*/
